/* line 5, ../src/ie6.scss */
.ie6AltBrowser, .ie6Alt-Firefox, .ie6Alt-Safari, .ie6Alt-Chrome, .ie6Alt-IE, .closeIcon {
  background-image: url('../images/icons-9f136cec44.png') !important;
  background-repeat: no-repeat !important;
}

/* line 10, ../src/ie6.scss */
.ie6Alt-Firefox {
  background-position: 0 -364px !important;
}

/* line 15, ../src/ie6.scss */
.ie6Alt-Safari {
  background-position: 0 -764px !important;
}

/* line 20, ../src/ie6.scss */
.ie6Alt-Chrome {
  background-position: 0 0 !important;
}

/* line 25, ../src/ie6.scss */
.ie6Alt-IE {
  background-position: 0 -564px !important;
}

/* line 30, ../src/ie6.scss */
.closeIcon {
  background-position: 0 -200px !important;
}

/* line 36, ../src/ie6.scss */
.ie6AltBrowser img, .ie6Alt-Firefox img, .ie6Alt-Safari img, .ie6Alt-Chrome img, .ie6Alt-IE img, .closeIcon img,
.closeIcon img {
  border: 0;
}

/* line 38, ../src/ie6.scss */
#ie6Wrapper {
  width: 99.9%;
  height: 100px;
  border: 1px solid #F99;
  background: #FFF;
  overflow: hidden;
}

/* line 46, ../src/ie6.scss */
#ie6Warning {
  width: 800px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/* line 56, ../src/ie6.scss */
#ie6CloseMsg {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 65px;
  width: 65px;
  overflow: hidden;
}

/* line 65, ../src/ie6.scss */
#ie6Message {
  width: 400px;
  display: inline-block;
  float: left;
}

/* line 71, ../src/ie6.scss */
#ie6Message p {
  margin: 10px;
}

/* line 73, ../src/ie6.scss */
#ie6Alternatives {
  width: 400px;
  display: inline-block;
  float: right;
}

/* line 79, ../src/ie6.scss */
.ie6AltBrowser, .ie6Alt-Firefox, .ie6Alt-Safari, .ie6Alt-Chrome, .ie6Alt-IE, .closeIcon {
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
}
